[run]
branch = True
source =
    pyprof
    .

[report]
exclude_lines =
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def profile(func: Callable) -> Callable:
    def profile(name: str, report_printer=None) -> Callable:
ignore_errors = True
omit =
    tests/
    */tests/*
    */site-packages/*

[paths]
source =
    .
    ts
